.gpt3__posibole {
    display: flex;
    flex-direction: row;
}

.gpt3__posibole-image {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.gpt3__posibole-image img {
    width: 100%;
    height: 100%;
}

.gpt3__posibole-content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.gpt3__posibole-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 30ox;
    color: #71f5ff;
}

.gpt3__posibole-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.gpt3__posibole-content p {
    color: var(--color-text);
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 2rem;
}

.gpt3__posibole-content h4:last-child {
    color: #ff8a71;
}

@media screen and (max-width:950px) {
    .gpt3__posibole {
        flex-direction: column;
    }

    .gpt3__posibole-image {
        margin: 1rem 0;
    }

    .gpt3__posibole-content {
        margin-top: 2rem;
    }
}